@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


/* body font family  */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* hero container starts here  */
.hero-container{
    max-width: 1440px;
    height: 652px;
    /* border: 2px solid ; */
    background-image: url('../images/Hero-bg.png');

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}
.hero-content{
    /* border: 2px solid; */
    width: 998px;
    height: 582px;
    margin: 0 auto;
    /* margin-top: 24px; */
    
    /* display: flex;
    flex-direction: row; */

}
.hero-text-content{
    /* border: 2px solid; */
    width: 85%;
    height: 310px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;


}
.hero-image{
    display: flex;
    width: 240.28px;
    height: 240px;
    margin: 0 auto;
}
.hero-btn{
    width: 208px;
    height: 66px;
    margin-top: 60px;

    border-radius: 8px;
    background: rgb(13, 19, 33);

    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
    border: none;
}
.hero-btn a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* why web development grand container styles starts here  */
.why-web-dev-grand-contaienr{
    width: 1140px;
    height: 1395px;
    /* border: 2px solid; */
    margin: 0 auto;
    margin-top: 100px;

    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);

    display: flex;
}
.why-web-dev-content{
    width: 946px;
    height: 1235px;
    /* border: 2px solid; */
    margin: 0 auto;

    margin-top: 90px;

}
.why-web-dev-heading{
    width: 90%;
    height: 100px;
    text-align: center;
    margin: 0 auto;

    margin-bottom: 120px;
    
}
.why-web-dev-heading h2{
    width: 90%;
    margin-bottom: 30px;
    /* margin-top: 40px; */

 
    
}
.change-the-world-container{
    width: 850px;
    height: 240px;
    /* border: 2px solid; */
    margin: 0 auto;

    margin-bottom: 110px;
    display: flex;
    gap: 100px;

    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

    
}
.modern-web-system-container{
    width: 850px;
    height: 240px;
    /* border: 2px solid; */
    margin: 0 auto;

    margin-bottom: 110px;
    display: flex;
    gap: 100px;
    
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.modern-web-text p{
    margin-top: 33px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.modern-web-text {
   width: 55%;
}
.modern-web-text h4{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 700;
}
.modern-web-text button{
    width: 150px;
    height: 48px;
    margin-top: 30px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
}

.change-the-world-container-second{
    width: 850px;
    height: 240px;
    /* border: 2px solid; */
    margin: 0 auto;

    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.change-the-world-text{
    width: 50%;
}
.change-the-world-text p{
    margin-top: 33px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.change-the-world-text h4{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 700;
}
.change-the-world-text button{
    width: 150px;
    height: 48px;
    margin-top: 20px;
 
    box-sizing: border-box;
    /* border: 1px solid rgb(13, 19, 33); */
    opacity: 0.7;

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
}
.change-the-world-image{
    width: 40%;
}

/* my-inspiration-section-container styles starts here  */
.my-inspiration-section-container{
    /* border: 2px solid; */
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 100px;
    /* display: flex; */
}
.my-inspiration-text-content{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    /* height: 100px;

    margin-bottom: 80px; */

    /* margin-bottom: 200px; */
}
.my-inspiration-text-content h4{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;

    margin-top: 10px;
}
.my-inspiration-text-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;

    margin-bottom: 47px;
}
.my-inspiration-video{
    border-radius: 16px;
    width: 100%;
    height: 600px;
    /* height: 100%; */
    margin: 0 auto;
    border: 1px solid rgba(13, 19, 33, 0.2);
    justify-content: center;
    display: flex;
    align-items: center;

    box-sizing: border-box;



}
.my-inspiration-video iframe{
    border-radius: 16px;
   

}

/* my-current-target-container styles starts here  */

.my-current-target-container{
    /* border: 2px solid; */
    width: 1140px;
    height: 550px;
    margin: 0 auto;
    margin-top: 100px;

}

.current-target-heading {
    width: 70%;
    margin: 0 auto;
    height: 113px;

    text-align: center; 
    align-items: center;
    display: flex;
    flex-direction: column;

    margin-bottom: 60px;


}
.current-target-heading h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;


}
.current-target-heading p {
    opacity: 0.7;


}
.current-target-content-container{
    display: flex;
    margin-top: 500px;
    width: 80%;
    margin: 0 auto;
    /* padding: 40px 30px 40px 30px; */
    height: 300px;
 
    gap: 100px;


}
.current-target-content{

    width: 400px;
    /* border: 2px solid; */
    padding: 8px 20px;
    height: 300px;
    /* display: block; */
    /* margin-bottom: 200px; */

    display: flexbox;
    margin-top: 10px;

}


#first{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);

    

}
#second{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);

}
#third{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

/* support-section-container styles starts here  */
.support-section-container{
    width: 1140px;
    height: 313px;
    border: 2px solid;
    margin: 0 auto;

    background-image: url('../images/handshake.jpg');
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    opacity: 1;
    background-color: #00000033;
    background-blend-mode: overlay;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
    /* padding: 64px 48px 64px 48px; */

    margin-top: 50px;
    

 
}
.support-section-container img{
    width: 100%;
    height: 100%;


}
.support-section-container h3{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 700;

}
.support-section-container p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;

    margin-bottom: 50px;
}
.support-section-container input{
    width: 548px;
    /* height: 37px; */
    padding: 19px 20px 19px 20px;

    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);

    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;

}
.support-section-container button{
    width: 120px;
    height: 57px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;

}
