@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


/* body font family  */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* hero container starts here  */
.hero-container{
    max-width: 1440px;
    height: 652px;
    /* border: 2px solid ; */
    background-image: url('../images/Hero-bg.png');

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}
.hero-content{
    /* border: 2px solid; */
    width: 998px;
    height: 582px;
    margin: 0 auto;
    /* margin-top: 24px; */
    
    /* display: flex;
    flex-direction: row; */

}
.hero-text-content{
    /* border: 2px solid; */
    width: 85%;
    height: 310px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;


}
.hero-image{
    display: flex;
    width: 240.28px;
    height: 240px;
    margin: 0 auto;
}
.hero-btn{
    width: 208px;
    height: 66px;
    margin-top: 60px;

    border-radius: 8px;
    background: rgb(13, 19, 33);

    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
    border: none;
}
.hero-btn a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* why web development grand container styles starts here  */
.why-web-dev-grand-contaienr{
    width: 1140px;
    height: 1395px;
    /* border: 2px solid; */
    margin: 0 auto;
    margin-top: 100px;

    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);

    display: flex;
}
.why-web-dev-content{
    width: 946px;
    height: 1235px;
    /* border: 2px solid; */
    margin: 0 auto;

    margin-top: 90px;

}
.why-web-dev-heading{
    width: 90%;
    height: 100px;
    text-align: center;
    margin: 0 auto;

    margin-bottom: 120px;
    
}
.why-web-dev-heading h2{
    width: 90%;
    margin-bottom: 30px;
    /* margin-top: 40px; */

 
    
}
.change-the-world-container{
    width: 850px;
    height: 240px;
    /* border: 2px solid; */
    margin: 0 auto;

    margin-bottom: 110px;
    display: flex;
    gap: 100px;

    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

    
}
.modern-web-system-container{
    width: 850px;
    height: 240px;
    /* border: 2px solid; */
    margin: 0 auto;

    margin-bottom: 110px;
    display: flex;
    gap: 100px;
    
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.modern-web-text p{
    margin-top: 33px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.modern-web-text {
   width: 55%;
}
.modern-web-text h4{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 700;
}
.modern-web-text button{
    width: 150px;
    height: 48px;
    margin-top: 30px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
}

.change-the-world-container-second{
    width: 850px;
    height: 240px;
    /* border: 2px solid; */
    margin: 0 auto;

    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.change-the-world-text{
    width: 50%;
}
.change-the-world-text p{
    margin-top: 33px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.change-the-world-text h4{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 700;
}
.change-the-world-text button{
    width: 150px;
    height: 48px;
    margin-top: 20px;
 
    box-sizing: border-box;
    /* border: 1px solid rgb(13, 19, 33); */
    opacity: 0.7;

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
}
.change-the-world-image{
    width: 40%;
}